/*
Partial style sheet for "C Interfaces and Implementations"
$Id$
*/
A:link {
	color: blue;
	text-decoration: underline;
}
A:visited {
	color: purple;
	text-decoration: underline;
}
A:active {
	color: red;
	text-decoration: underline;
}
Body {
	background: rgb(255,255,255);
	font-weight: medium;
	font-family: serif;
}
P {
	margin-top: 0pt;
	margin-bottom: 0pt;
	text-align: justify;
	text-indent: 1em;
}
P.Colophon {
	text-align: left;
	text-indent: 0pt;
	font-size: smaller;
	margin-right: 10%;
	margin-top: 0pt;
	margin-bottom: 36pt;
}
PRE.Chunk {
	text-align: left;
	text-indent: -1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	font-family: monospace;
}
OL.Exercises {
	text-align: justify;
	margin-top: 1em;
	margin-left: 2em;
}
LI.Exercise {
	margin-top: 1em;
}
P.Exercise {
	text-indent: 0pt;
	margin-top: 1em;
	margin-bottom: 1em;
}
PRE.ExerciseCode {
	text-align: left;
	text-indent: 0pt;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: monospace;
}
P.FirstBody {
	margin-top: 3em;
	text-indent: 0pt;
}
P.Noindent {
	text-indent: 0pt;
}
EM.Code {
	font-style: Normal;
	font-family: monospace;
}
EM.Fragment {
	font-style: Italic;
	font-family: sans-serif;
}
